<table [dataSource]="data" mat-table>
    <ng-container matColumnDef='action'>
        <ng-container *ngIf="actionType === 'add'">
            <th *matHeaderCellDef mat-header-cell>Add</th>
            <td *matCellDef="let patient" mat-cell class="p10">
                <button
                    *ngIf="!patient?.followUpPatient"
                    (click)="action.emit(patient)"
                    mat-raised-button
                    class="actions-main"
                    color="primary">
                    add to follow list
                </button>
                <span *ngIf="patient?.followUpPatient">followed</span>
            </td>
        </ng-container>

        <ng-container *ngIf="actionType === 'remove'">
            <th *matHeaderCellDef mat-header-cell>Remove</th>
            <td *matCellDef="let patient" mat-cell class="p10">
                <button
                *ngIf="patient?.followUpPatient"
                (click)="action.emit(patient)"
                mat-raised-button
                class="actions-main"
                color="primary">
                remove from follow list
                </button>
                <span *ngIf="!patient?.followUpPatient">unfollowed</span>
            </td>
        </ng-container>
    </ng-container>

    <ng-container matColumnDef='code'>
        <th *matHeaderCellDef mat-header-cell>code</th>
        <td *matCellDef="let patient" mat-cell class="p10">{{patient?.code}}</td>
    </ng-container>

    <ng-container matColumnDef='fullName'>
        <th *matHeaderCellDef mat-header-cell>fullName</th>
        <td *matCellDef="let patient" mat-cell class="p10">{{patient?.fullName}}</td>
    </ng-container>

    <ng-container matColumnDef='sex'>
        <th *matHeaderCellDef mat-header-cell>sex</th>
        <td *matCellDef="let patient" mat-cell class="p10">{{patient?.sex?.name}}</td>
    </ng-container>

    <ng-container matColumnDef='age'>
        <th *matHeaderCellDef mat-header-cell>age</th>
        <td *matCellDef="let patient" mat-cell class="p10">{{patient?.age}}</td>
    </ng-container>

    <ng-container matColumnDef='birthDate'>
        <th *matHeaderCellDef mat-header-cell>birthDate</th>
        <td *matCellDef="let patient" mat-cell class="p10">{{patient?.birthDate?.formattedDate}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
