<div class="container">
  <div rtl>
    <h1 class="main-heading">{{ 'stms.orders.title' | translate }}</h1>
    <div class="actions">
      <a
        (click)="onRefresh()"
        mat-raised-button class="actions-main" color="primary">
        {{ 'stms.orders.get-orders' | translate }}
      </a>

      <st-orders-table
        *ngIf="orderList$ | async as list"
        [data]="list"
        [actionType]="'add'"
        (action)="onFollowOrder($event)">
      </st-orders-table>
    </div>

  </div>
</div>
