<table [dataSource]="data" mat-table>
    <ng-container matColumnDef='action'>
        <ng-container *ngIf="actionType === 'add'">
            <th *matHeaderCellDef mat-header-cell>{{'stms.shared.table.title.add' | translate}}</th>
            <td *matCellDef="let order" mat-cell class="p10">
                <button
                    *ngIf="!order?.isFollowup"
                    (click)="action.emit(order)"
                    mat-raised-button
                    class="actions-main"
                    color="primary">
                    {{'stms.shared.table.title.button-add' | translate}}
                </button>
                <span *ngIf="order?.isFollowup">{{'stms.shared.table.title.followed' | translate}}</span>
            </td>
        </ng-container>

        <ng-container *ngIf="actionType === 'remove'">
            <th *matHeaderCellDef mat-header-cell>{{'stms.shared.table.title.remove' | translate}}</th>
            <td *matCellDef="let order" mat-cell class="p10">
                <button
                    *ngIf="order?.isFollowup"
                    (click)="action.emit(order)"
                    mat-raised-button
                    class="actions-main"
                    color="primary">
                    {{'stms.shared.table.title.button-remove' | translate}}
                </button>
                <span *ngIf="!order?.isFollowup">{{'stms.shared.table.title.unfollowed' | translate}}</span>
            </td>
        </ng-container>
    </ng-container>

    <ng-container matColumnDef='orderNum'>
        <th *matHeaderCellDef mat-header-cell>{{'stms.shared.table.title.orderNum' | translate}}</th>
        <td *matCellDef="let order" mat-cell class="p10">{{order?.orderNum || '-'}}</td>
    </ng-container>

    <ng-container matColumnDef='orderName'>
        <th *matHeaderCellDef mat-header-cell>{{'stms.shared.table.title.orderName' | translate}}</th>
        <td *matCellDef="let order" mat-cell class="p10">{{order?.orderName || '-'}}</td>
    </ng-container>

    <ng-container matColumnDef='status'>
        <th *matHeaderCellDef mat-header-cell>{{'stms.shared.table.title.status' | translate}}</th>
        <td *matCellDef="let order" mat-cell class="p10">{{order?.status?.name || '-'}}</td>
    </ng-container>

    <ng-container matColumnDef='creator'>
        <th *matHeaderCellDef mat-header-cell>{{'stms.shared.table.title.creator' | translate}}</th>
        <td *matCellDef="let order" mat-cell class="p10">{{order?.creator?.name || '-'}}</td>
    </ng-container>

    <ng-container matColumnDef='patient'>
        <th *matHeaderCellDef mat-header-cell>{{'stms.shared.table.title.patient' | translate}}</th>
        <td *matCellDef="let order" mat-cell class="p10">{{order?.patient?.firstName || '-'}}</td>
    </ng-container>

    <ng-container matColumnDef='creationDate'>
        <th *matHeaderCellDef mat-header-cell>{{'stms.shared.table.title.creationDate' | translate}}</th>
        <td *matCellDef="let order" mat-cell class="p10">
            {{order?.creationDate?.formattedTime}} {{order?.creationDate?.formattedDate || '-'}}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
