<div class="container">
  <div rtl>
    <h1 class="main-heading">{{ 'stms.patients.title' | translate }}</h1>
    <div class="actions">
      <a
        (click)="onRefresh()"
        mat-raised-button class="actions-main" color="primary">
        {{ 'stms.patients.get-patients' | translate }}
      </a>

      <st-patient-table
        *ngIf="patientList$ | async as list"
        [data]="list"
        [actionType]="'add'"
        (action)="onFollowPatient($event)">
      </st-patient-table>
    </div>
  </div>
</div>
