@use '~@angular/material' as mat;
$st-black-primary: mat.define-palette(mat.$grey-palette, 900, 900, 100);
$st-black-accent: mat.define-palette(mat.$blue-grey-palette, 400);
$st-black-warn: mat.define-palette(mat.$red-palette, 500);

$st-black-theme: mat.define-dark-theme(
  $st-black-primary,
  $st-black-accent,
  $st-black-warn
);
