@use '~@angular/material' as mat;
$st-primary: mat.define-palette(mat.$cyan-palette, 900, 600, 900);
$st-accent: mat.define-palette(mat.$cyan-palette, 800, 100, 800);
$st-warn: mat.define-palette(mat.$pink-palette, 600);

$st-theme: mat.define-light-theme($st-primary, $st-accent, $st-warn);
