@use '~@angular/material' as mat;
$st-light-primary: mat.define-palette(mat.$grey-palette, 200, 500, 300);
$st-light-accent: mat.define-palette(mat.$brown-palette, 200);
$st-light-warn: mat.define-palette(mat.$deep-orange-palette, 200);

$st-light-theme: mat.define-light-theme(
  $st-light-primary,
  $st-light-accent,
  $st-light-warn
);
