@use '~@angular/material' as mat;
$st-nature-primary: mat.define-palette(mat.$brown-palette, 700, 300, 900);
$st-nature-accent: mat.define-palette(mat.$deep-purple-palette, 300);
$st-nature-warn: mat.define-palette(mat.$red-palette, 600);

$st-nature-theme: mat.define-light-theme(
  $st-nature-primary,
  $st-nature-accent,
  $st-nature-warn
);
